.addbysearch-results {
  clear: both;
  width: 95%;
  height: 0;
  overflow-y: scroll;
  -webkit-transition: all 100ms ease .4s;
  -moz-transition: all 500ms ease .4s;
  -o-transition: all 500ms ease .4s;
  transition: all 500ms ease .4s;
}
.addbysearch-results.contains-results {
  box-sizing: border-box;
  margin-top: 0;
  padding: 10px;
  height: 200px;
  border: 1px solid #666;
}
.addbysearch-result {
  cursor: pointer;
  height: 28px;
  margin-bottom: 5px;
  padding-left: 10px;
  line-height: 27px;
}
.addbysearch-result i {
  float: right;
  margin-right: 10px;
  font-size: 10px;
}
.addbysearch-actual-values {
  clear: both;
  width: 100%;
  height: 150px;
  overflow-y: scroll;
}
.addbysearch-actual-values .addbysearch-result.postbox {
  background-color: #F9F9F9;
  -webkit-transition: background-color 500ms ease 1s;
  -moz-transition: background-color 500ms ease 1s;
  -o-transition: background-color 500ms ease 1s;
  transition: background-color 500ms ease 1s;

  -webkit-transition: color 500ms ease 1s;
  -moz-transition: color 500ms ease 1s;
  -o-transition: color 500ms ease 1s;
  transition: color 500ms ease 1s;
}
.addbysearch-actual-values .addbysearch-result.postbox.just-added {
  background-color: #0074a2;
  color: #FFF;
}
.addbysearch-remove-btn {
  float: right;
}
.addbysearch ~ b {
  line-height: 40px;
}
.reverse-saved.button {
  float: right;
  margin-right: 20px;
  margin-top: 8px;
}
.addbysearch-actual-values li img {
  width: 15px;
  height: auto;
  float: right;
  margin-right: 8px;
  margin-top: 7px;
  opacity: 0.5;
}